/* html {
  font-size: 0.5rem;
} */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px)  {
    html {font-size: 0.6rem;}
} */
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px)  {
    html {font-size: 0.7rem;}
} */
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px)  {
    html {font-size: 0.8rem;}
} */
/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px)  {
    html {font-size: 0.9rem;}
} */
/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px)  {
    html {font-size: 1rem;}
} */
/* @media (min-width: 1600px)  {
    html {font-size: 1.1rem;}
} */


.form-control {
    border-radius: 10rem;
}
.btn {
    /* min-width:6rem; */
}
.my-custom-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #f1f1f1;
    padding: 3px;
}


.asset-custom-rtl {
    border-radius: inherit !important;
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;
}

.asset-custom-ltr {
    border-radius: inherit !important;
    border-top-right-radius: 35px !important;
    border-bottom-right-radius: 35px !important;
}